.modalclose{
    display: flex;
    justify-content: flex-end;
    
}
.modal-row{
    padding: 0.8rem;
    /* max-height: 90vh;
    overflow-y: auto; */
}
.modalclose23{
    display: flex;
    /* justify-content: flex-start; */
    font-family: 'Inter';
font-size: 20px;
font-weight: 600;
line-height: 38.73px;
text-align: left;
color: #4E4E4E;

}
.modalImage{
    height: 220px;
    width: 220px;
    border-radius: 10px;
}
.modal-button{
    border-radius: 30px !important;
    background-color: white !important;
    color: #4E4E4E;
    font-family: "Inter" ;
font-size: 13px !important;
font-weight: 600;
line-height: 14px !important;
border: 2px solid #EC981F !important;
padding: 0.2rem !important;
padding-left: 0.5rem !important;
padding-right: 0.5rem !important;
}
.threelist{
    font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 18.8px;
text-align: justify;
color: #1C1C1C;
margin-top: 0.8rem;

}
.modalclosecross{
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
}
@media (max-width: 767px) {
    .modalImage{
        height: 180px;
        width: 146px;
        border-radius: 10px;
    }
    }