/* .co-working{
    font-family: Inter;
font-size: 18px;
font-weight: 670;
line-height: 34px;
color: 
#1C1C1C;
}
.commercial-button{
    font-family: Inter;
font-size: 13px;
font-weight: 600;
line-height: 15px;
color: #4E4E4E !important;
background-color: white !important;
border: 2px solid #EC981F !important;
border-radius: 30px !important;

}
.vertical-line {
    border-left: 3px solid #000 !important; 
    height: 100% !important;
   margin-left: 2rem;
    
  }
  .image-height1234{
    height: 400px !important;
    width: 100% !important;
    position: relative;
  }
  #span-arrow{
   margin-left: 24.2%;
   margin-top: -4.6rem;
   position: absolute;
  }
 .outward23{
    background: #EC981F !important;
    border: none !important;
    padding: 0.8rem !important;
    border-radius: 50% !important;
 }
 #outword-icon12{
    font-size: 26px;
    font-weight: bold; 
 }
 .ul-tag{
    margin-left: -2rem;
    margin-top: 2rem;
    font-family: Inter;
font-size: 17px;
font-weight: 400;
line-height: 25.8px;
text-align: justify !important;
color: #1C1C1C;

 }
 .marginleft{
    margin-left: -3.9rem;
 }
 @media (max-width: 767px) {
    .co-working{
    font-size: 18px;
    font-weight: 670;
    line-height: 30px;
    margin-left: 1.6rem;
    }
    
  }
  @media (max-width: 767px) {
    .commercial-button{
    font-size: 13px !important;
    line-height: 15px;
    margin-left: -1rem;
    }
    
  }
  @media (max-width: 767px) {
    .image-height1234{
        height: 350px !important;
        width: 100% !important;
        position: relative;
        margin-left: 1.8rem;
      }
    
  }
  @media (max-width: 767px) {
    #span-arrow{
        margin-left:73%;
        margin-top: -4rem;
       
       }
    
  }
  @media (max-width: 767px) {
    .ul-tag{
        margin-left: 0.5rem;
        margin-top: 2rem;
        margin-right: -2rem;
     }
  }
  @media (max-width: 767px) {
    .marginleft{
        margin-left: -2.5rem;
     }
  }
  @media (max-width: 767px) {
   .vertical-line {
     display: none;
      
    }
    
 } */
 .co-working {
   font-family: Inter;
   font-size: 18px;
   font-weight: 670;
   line-height: 34px;
   color: #1C1C1C;
 }
 
 .commercial-button {
   font-family: Inter;
   font-size: 13px;
   font-weight: 600;
   line-height: 15px;
   color: #4e4e4e !important;
   background-color: white !important;
   border: 2px solid #ec981f !important;
   border-radius: 30px !important;
 }
 
 .vertical-line {
   border-left: 3px solid #000 !important;
   height: 100% !important;
   margin-left: 2rem;
 }
 
 .image-height1234 {
   height: 400px !important;
   width: 100% !important;
   position: relative;
 }
 
 #span-arrow {
   margin-left: 24.2%;
   margin-top: -4.6rem;
   position: absolute;
 }
 
 .outward23 {
   background: #ec981f !important;
   border: none !important;
   padding: 0.8rem !important;
   border-radius: 50% !important;
 }
 
 #outword-icon12 {
   font-size: 26px;
   font-weight: bold;
 }
 
 .ul-tag {
   margin-left: -2rem;
   margin-top: 2rem;
   font-family: Inter;
   font-size: 17px;
   font-weight: 400;
   line-height: 25.8px;
   text-align: justify !important;
   color: #1c1c1c;
 }
 
 .marginleft {
   margin-left: -3.9rem;
 }
 
 @media (max-width: 1024px) {
   .co-working {
     font-size: 22px;
     line-height: 36px;
     margin-left: 1rem;
   }
 
   .commercial-button {
     font-size: 16px !important;
     line-height: 18px;
     margin-left: -1rem;
   }
 
   .image-height1234 {
     height: 350px !important;
     width: 100% !important;
     position: relative;
     margin-left: 2rem;
   }
 
   /* #span-arrow {
     margin-left: 50%; 
     margin-top: -4rem;
     transform: translateX(-50%); 
   } */
 
   .ul-tag {
     margin-left: 0.5rem;
     margin-top: 2rem;
     margin-right: -2rem;
   }
 
   .marginleft {
     margin-left: -2.5rem;
   }
 
   .vertical-line {
     display: none;
   }
 }
 @media (max-width: 767px) {
   #span-arrow{
       margin-left:73%;
       margin-top: -4rem;
      
      }
      .co-working {
        font-size: 17px;
        line-height: 26px;
        margin-left: 1.8rem;
      }
      .commercial-button {
        font-size: 13px !important;
        line-height: 18px;
        margin-left: -1.6rem;
      }
    
   
 }
 @media (min-width:767px) and (max-width: 1024px) {
   #span-arrow{
      margin-left:28%;
      margin-top: -4rem;
     
     }
 }
 