

.jbs-mainpage-heading {
  font-family: "Noto Sans";
  font-size: 30px;
  font-weight: 700;
  line-height: 65.38px;
  border-bottom: 2px solid black;
}

.jbs-mainpage-heading-col {
  margin: 2rem 0 !important;
}

.jbs-mainpage-images {
  display: flex;
  justify-content: center;
  gap: 2%;
  margin-top: 2rem !important;
  width: 100%;
  min-height: 100vh;
}

.jbs-mainpage-img2 {
  background-image: url("https://res.cloudinary.com/drny4cbec/image/upload/v1719912324/pe3shhkgqx5fxfjy2oji.png");
  min-height: 95%;
  width: 100%;
  background-size: cover;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 150%;
  font-weight: 500;
  text-align: justify;
  /* margin: 1rem; */
  padding: 0 50px !important;
}

.jbs-mainpage-img1 {
  background-image: url("https://res.cloudinary.com/drny4cbec/image/upload/v1719912327/unoveqw6inqnk42yallr.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 42% !important;
  min-height: 95%;
  border-radius: 24px;
}

@media only screen and (max-width: 767px) {
  .jbs-mainpage-img1 {
    width: 100% !important;
    height: 500px;
  }

  .jbs-mainpage-img2 {
    height: 500px;
    font-size: 100%;
    padding: 0 50px !important;
    margin-top: 10px !important;
  }

  .jbs-mainpage-images {
    flex-direction: column;
    margin: 0 1px !important;
  }
}

@media only screen and (min-width: 766px) and (max-width: 992px) {
  .jbs-mainpage-img2 {
    padding: 0 12px !important;
  }
}