.relative-container345 {
  position: relative;
}

.text-overlayy123 {
  position: absolute;
  top: 16%;
  left: 6%;
  padding: 10px;
  z-index: 1;
  right: 20%;
}

.choose {
  font-family: 'Noto Sans';
  font-size: 28px;
  font-weight: 700;
  line-height: 25.38px;
  color: white;
}

.overlist {
  font-family: 'Noto Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 23.58px;
  color: white;
  margin-top: 2rem;
}

.text-overlayy123456 {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  padding: 3rem;
  border-radius: 5px;
  z-index: 1;
  padding-left: 6rem;
}

.contact-ussss {
  font-family: 'Noto Sans';
  font-size: 32px;
  font-weight: 700;
  line-height: 35.38px;
  text-align: center;
  color: white;
  margin-top: 3rem;
}

.welove {
  font-family: 'Noto Sans';
  font-size: 19px;
  font-weight: 400;
  line-height: 23.58px;
  text-align: left;
  padding-left: 3rem;
  padding-right: 3.5rem;
  margin-top: 2rem;
}

.lastimage-row {
  margin-top: 2rem !important;
}

.ullist {
  margin-top: 4rem;
}

.final-coll {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.image4567 {
  height: 590px;
  width: 570px;
}

.image14567 {
  height: 590px;
  width: 450px;
}



@media (max-width: 1024px) and (min-width: 768px) {
  .image4567 {
    height: 550px;
    width: 680px;
  }

  .image14567 {
    height: 550px;
    width: 680px;
    margin-top: 1rem;
  }

  .text-overlayy123 {
    right: 15%;
  }

  .choose {
    font-size: 24px;
    text-align: center;
  }

  .ullist {
    margin-top: 2rem;
  }

  .overlist {
    margin-top: 1.5rem;
  }

  .lastimage-row {
    margin-top: 1rem !important;
  }

  .text-overlayy123456 {
    padding: 2.5rem;
    padding-left: 3rem;
  }

  .welove {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 2rem;
  }

  .final-coll {
    margin-top: 1rem !important;
    display: flex;
    justify-content: flex-start;
  }
}

@media (max-width: 767px) {
  .image4567 {
    height: 500px;
    width: 353px;
  }

  .image14567 {
    height: 500px;
    width: 353px;
    margin-top: 1rem;
  }

  .text-overlayy123 {
    right: 10%;
  }

  .choose {
    font-size: 21px;
    text-align: center;
  }

  .ullist {
    margin-top: 1rem;
  }

  .overlist {
    margin-top: 1rem;
  }

  .lastimage-row {
    margin-top: 0.5rem !important;
  }

  .text-overlayy123456 {
    padding: 2rem;
    padding-left: 2rem;
  }

  .welove {
    padding-left: 0;
    padding-right: 0;
    margin-top: 2rem;
  }

  .final-coll {
    margin-top: 1rem !important;
    display: flex;
    justify-content: flex-start;
  }
}

@media (width: 1024px) {
  .image14567 {
    height: 500px;
    width: 353px;
    margin-top: 1rem;
  }

  .image4567 {
    height: 500px;
    width: 500px;
  }
}








.card-cotainer-background {
  display: flex !important;
  gap: 2% !important;
  width: 100%;
  height: 100vh;
}

.card-container-first-image {
  background-image: url('https://res.cloudinary.com/dbklt3v4d/image/upload/v1720158607/mailStone/Frame_1321316271_tonhsh.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100% !important;
  height: 95%;
  color: white;
  padding-top: 9%;
  padding-left: 6%;
  padding-right: 6%;
  box-sizing: border-box;
  border-radius: 15px;
}

.card-container-second-image {
  background-image: url('https://res.cloudinary.com/dbklt3v4d/image/upload/v1720158668/mailStone/Frame_1321316272_scrmfc.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 86% !important;
  height: 95%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
}

.card-container-first-image-contaent {
  color: white;
  font-family: "Roboto";
  margin-top: 10%;
  font-weight: 500;
}

.card-container-first-image-lis {
  font-family: 'Noto Sans';
  font-size: 18px;
  font-weight: 500;
  line-height: 23.58px;
  margin-top: 2rem;
  
}

.card-container-first-image-uls {
  margin-top: 7%;
}

.card-container-third-image {
  background-image: url('https://res.cloudinary.com/dbklt3v4d/image/upload/v1720162289/mailStone/Frame_1321316313_pumxjp.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 86% !important;
  height: 95%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
}

.card-container-fourth-image {
  background-image: url('https://res.cloudinary.com/dbklt3v4d/image/upload/v1720166730/mailStone/Frame_1321316271_o0jxy6.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100% !important;
  height: 95%;
  color: white;
  padding-top: 9%;
  padding-left: 6%;
  padding-right: 6%;
  box-sizing: border-box;
  border-radius: 15px;
}


@media (max-width:550px) {
  .card-container-second-image {
    width: 100% !important;
    height: 100% !important;
  }

  .card-cotainer-background {
    flex-direction: column !important;
    height: auto !important;
    gap: 1rem !important;
  }
    .card-container-first-image,
    .card-container-second-image,
    .card-container-third-image,
    .card-container-fourth-image {
      width: 100% !important;
      height: 500px !important;
      margin-bottom: 1rem;
    }

         .card-container-first-image-contaent {
           font-size: 24px;
         }
    
         .card-container-first-image-lis {
           font-size: 16px;
         }

  .card-container-third-image {
    width: 100% !important;
    margin-top: 5%;
    height: 100% ;
  }
}





















/* .card-cotainer-background {
  display: flex !important;
  gap: 2% !important;
  width: 100%;
  height: 100vh;
} */

/* .card-container-first-image,
.card-container-fourth-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100% !important;
  height: 95%;
  color: white;
  padding-top: 9%;
  padding-left: 6%;
  padding-right: 6%;
  box-sizing: border-box;
  border-radius: 15px;
} */

/* .card-container-second-image,
.card-container-third-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 86% !important;
  height: 95%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
} */

/* @media (max-width: 550px) {
  .card-cotainer-background {
    flex-direction: column;
    height: auto;
    gap: 1rem !important;
  }

  .card-container-first-image,
  .card-container-second-image,
  .card-container-third-image,
  .card-container-fourth-image {
    width: 100% !important;
    height: 500px !important;
    margin-bottom: 1rem;
  }

  .card-container-first-image-contaent {
    font-size: 24px;
  }

  .card-container-first-image-lis {
    font-size: 16px;
  }
} */