.slider-row {
  padding-left: 3rem;
  padding-top: 1rem;
}

.slider-col1 {
  margin-left: 13.2rem;
}

.slider-col2 {
  font-family: "Noto Sans";
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  color: #a8a4a3;
  margin-left: 3rem;
}

.slider-slider {
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slider-container {
  padding: 0;
}

.modern-kitchen {
  font-family: Noto Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 33.84px;
  letter-spacing: 0.09em;
  color: #251c1a;
  text-align: center;
  margin-top: 0.6rem;
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-text {
  position: absolute;
  top: 10px;
  left: 13%;
  color: white;
  font-family: Noto Sans;
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
}

.underline {
  border: 1px solid black;
  max-width: 90%;
  margin-top: -1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  .slider-col1 {
    margin-left: 0;
    /* display: flex;
    justify-content: center; */
  }
  .image-text {
    left: 20%;
  }

  .image-container {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .slider-row {
    padding-left: 0;
    padding-top: 1rem;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .slider-col2 {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 2rem;
    margin-left: 0;
  }

  .underline {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .modern-kitchen {
    letter-spacing: 0.09em;
    color: #251c1a;
    text-align: center;
    margin-left: 0;
    margin-top: 0.6rem;
  }
}