.aboutus-page1-main-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://res.cloudinary.com/drny4cbec/image/upload/v1719304473/dsg3vjrtouqle1kvtpdl.png");
  height: 600px;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}
.aboutus-page1-main-heading {
  font-family: Inter;
  font-size: 80px;
  font-weight: 800;
  line-height: 100px;
  color: white;
}
.aboutus-page1-button {
  height: 40px !important;
  width: 40px !important;
  border-radius: 50% !important;
  text-align: center !important;
  color: white !important;
  background-color: rgba(255, 255, 255, 0.233) !important;
}

@media only screen and (max-width: 767px) {
  .aboutus-page1-main-heading {
    font-size: 50px;
    line-height: 80px;
  }
}
