.featured-project{
font-family: Inter;
font-size: 44px;
font-weight: 700;
line-height: 69.56px;
text-align: left;
}
.div-class-bg123{
    padding: 3.5rem !important;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

.outwardoutward{
    background: #EC981F !important;
    border: none !important;
    margin-top: 1rem;
    padding: 0.7rem !important;
    border-radius: 50% !important;
}
#outword-iconicon{
    font-size: 26px;
    font-weight: bold;
   
}
@media (max-width: 767px) {
    .featured-project{
    font-family: Inter;
    font-size:18px;
    font-weight: 700;
    line-height: 29.56px;
    } 
    .div-class-bg123{
        padding: 1.5rem !important;
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }
    .outwardoutward{
        margin-top: 0;
        padding: 0.6rem !important;
    }
    #outword-iconicon{
        font-size: 24px;
       
    }
    
}
