
.milestone-image {
  height: 570px;
  width: 100%;
  position: relative;
}

.text-overlay {
  position: absolute;
  top: 41%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.future-h1 {
  font-family: "Inter";
  font-size: 67px;
  font-weight: 750;
  line-height: 79px;
  color: #0C3F78;
}

.mordern {
  color: #00AFEF;
}

.easy-para {
  font-family: "Noto Sans";
  font-size: 19px;
  font-weight: 570;
  line-height: 32.69px;
  margin-top: 1rem;
  color: #1E1E1E;
  z-index: 1;
}

#button-div {
  margin-top: 5rem;
}

.learn-moreee {
  background: #EC981F !important;
  border: none !important;
  color: #0C3F78 !important;
  font-family: "Noto Sans";
  font-size: 14px !important;
  font-weight: 670;
  line-height: 27.24px;
  letter-spacing: -0.04em;
  border-radius: 0 !important;
}

@media (max-width: 767px) {
  .future-h1 {
    font-size: 26px;
    line-height: 40px;
    margin-left: -1rem;
  }

  .text-overlay {
    top: 40%;
    left: 42%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: left;
    padding: 0;
  }

  .milestone-image {
    height: 370px;
    width: 100%;
  }

  .easy-para {
    font-size: 13px;
    line-height: 20px;
    margin-left: -1rem;
  }

  #button-div {
    margin-top: 3rem;
    margin-left: -1rem;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .future-h1 {
    font-size: 45px;
    line-height: 55px;
  }

  .text-overlay {
    top: 37%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: left;
  }
}
