.commercial{
    font-family: Inter;
    font-size: 34px;
    font-weight: 700;
    line-height: 77.45px;
   margin-left: -2rem;
  color: #4E4E4E;  
  margin-top: 5rem;    
}
.commercial-para{
    font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 30px;
text-align: justified;
color: #1E1E1E;
margin-left: 0;
margin-right: 0;
margin-top: 1.5rem;
text-align: justify;
margin-bottom: 9rem !important;
}
/* https://res.cloudinary.com/dtjjk0vwy/image/upload/v1719316631/ffbbbxt1cc1qdhumlkb3.png */
@media (max-width: 767px) {
    .commercial{
        font-size: 18px;
        font-weight: 750;
        line-height: 40px;
       margin-left: -0.9rem;
      margin-top: 3rem;  
      margin-right: 0;  
    }
    
  }
  @media (max-width: 767px) {
    .commercial-para{
        font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-align: justified;
    color: #1E1E1E;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    word-spacing: -1px;
    margin-bottom: 4rem !important;
    }
    
  }