.co-working1{
    font-family: "Inter";
font-size: 18px;
font-weight: 670;
line-height: 34px;
color: 
#1C1C1C;
}
.commercial-button1{
    font-family: "Inter";
font-size: 13px;
font-weight: 600;
line-height: 15px;
color: #4E4E4E !important;
background-color: white !important;
border: 2px solid #EC981F !important;
border-radius: 30px !important;
margin-left: -1.3rem;

}
.vertical-line1 {
    border-left: 3px solid #000 !important; 
    height: 100% !important;
   margin-left: 2rem;
    
  }
  .image-height12345{
    height: 400px !important;
    width: 100% !important;
    position: relative;
  }
  #span-arrow1{
    margin-left: 24.2%;
   margin-top: -4.6rem;
   position: absolute;
  }
 .outward23{
    background: #EC981F !important;
    border: none !important;
    padding: 0.8rem !important;
    border-radius: 50% !important;
 }
 #outword-icon123{
    font-size: 26px;
    font-weight: bold; 
 }
 .ul-tag1{
    margin-left: -2rem;
    margin-top: 2rem;
    font-family: "Inter";
font-size: 17px;
font-weight: 400;
line-height: 25.8px;
text-align: justify;
color: #1C1C1C;

 }
 @media (max-width: 767px) {
    .co-working1{
    font-size: 18px;
    font-weight: 670;
    line-height: 30px;
    margin-left: 1.5rem;
    }
    
  }
  @media (max-width: 767px) {
    .commercial-button1{
    font-size: 13px;
    margin-left: 0;
    }
    
  }
  @media (max-width: 767px) {
    .image-height12345{
        height: 350px !important;
        width: 113% !important;
        position: relative;
        margin-left: 1.6rem;
      }
  }
  @media (max-width: 767px) {
        #span-arrow1{
          margin-left:80%;
            margin-top: -4rem;
        
       }
  }
  @media (max-width: 767px) {
    .ul-tag1{
        margin-left: 0;
        margin-top: 2rem;
        margin-right: -3rem;
    
     }
}
@media (max-width: 767px) {
  .vertical-line1 {
   display: none;
  }
}
