
.our-service{
    font-family: Inter;
    font-size: 50px;
    font-weight: 700;
    line-height: 89.56px;
   color: #1E1E1E;  
   margin-left: 0.6rem;
}
.design{
    font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 23px;
color: #1E1E1E;
margin-left: -1rem;
margin-top: 1rem !important;
}
.outward{
    background: #EC981F !important;
    border: none !important;
    margin-left: 2rem;
    margin-top: 1rem;
    padding: 0.7rem !important;
    border-radius: 50% !important;
}
#outword-icon{
    font-size: 26px;
    font-weight: bold;
   
}
.div-class-bg{
    padding: 5rem;
}
@media (max-width: 767px) {
    .div-class-bg{
        padding: 2rem;
    }
    .our-service{
        font-size: 30px;
        font-weight: 700;
        line-height: 50px;
       margin-left: 0;
       display: flex;
       justify-content: center;
    }
    .design{
        font-family: Inter;
    font-size: 15px;
    font-weight: 450;
    line-height: 21px;
    color: #1E1E1E;
    margin-left: 0;
    margin-top: 0;
    display: flex;
    justify-content: center;
    }
    .outward{
        margin-left: 7.5rem;
        margin-top: 2.5rem;
    }
    
  }
  @media (min-width:767px) and (max-width: 1024px) {
    .our-service{
        font-size: 30px;
        line-height: 50px;
       margin-left: 0.2rem;
    }
    .div-class-bg{
        padding: 3rem;
    }
    .design{
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    color: #1E1E1E;
    margin-left: 0;
    margin-top: 0 !important;
    }
  }