.sbm1 {
    height: 4rem;
    position: absolute;
    top: 0;
    right: 0;
  }
  .sbm2 {
    height: 4rem;
  }
  .sbm3 {
    /* background: #ecf3ff; */
    background: #ffffff;
  }
  .sbm4 {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 2rem;
    /* padding-left: 0; */
    /* padding: 0.2rem 0 0.3rem 0; */
    background: #f4f3f0;
    padding: 13px;
    border-radius: 8px;
  }
  .sbm5 {
    background: #642315;
    color: #ffffff;
    padding: 0.25rem;
    border-radius: 0.15rem;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
  }
  .sbm6 {
    text-decoration: none;
    background: #e4cdaa;
    border-radius: 0.2rem;
    color: #642315;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 2rem;
    /* padding: 0.2rem 0.35rem 0.3rem 0; */
    padding: 0.2rem 0 0.3rem 0;
    padding: 13px;
    border-radius: 8px;
  }
  .sbm7 {
    /* height: 1.2em;
    width: 1.2em; */
    color: #ffffff;
  }
  .sbm8 {
    height: 0.65em;
    width: 0.65em;
    color: #642315;
  }
  .sbm9 {
    display: flex;
    align-items: center;
    color: #642315;
  }
  .sbm10 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .sbm11 {
    height: 0.9em;
    width: 0.9em;
  }
  .sbm12 {
    height: 1em;
    width: 1em;
  }
  .sbm13 {
    height: 100vh;
  }
  /* .sbm14 {
    max-height: calc(100vh - 7rem);
    overflow-y: auto;
    padding-left: 0.8rem;
    scrollbar-width: thin;
  } */
  .sbm15 {
    padding: 0;
  }
  .sbm16 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .sbm17 {
    margin-bottom: 1rem;
    margin-top: 0.5rem !important;
  }
  .sbm18 {
    height: 40px !important;
    width: 135px !important;
    cursor: pointer;
  }
 .help{
  margin-top: 1.5rem !important;
 }
  .sidebar-div{
    display: flex;
  }
  .sidebar-name{
    margin-left: 9px;
    font-family: "DM Sans";
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 160%;
color: var(--Secondary-900, #0F172A);
  }
 .sidebar-row{
    margin-top: 1.5rem !important;
    cursor: pointer;
 }
 .help-col{
  color: var(--Secondary-600, #475569);
font-family: "DM Sans";
font-size: 13.5px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
 }
 .sidebar-row.active {
  color: var(--Primary-400, #7C3AED);
  font-family: "DM Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; 
}
.activerow{
  margin-left: 9px;
  color: var(--Primary-400, #7C3AED);
  font-family: "DM Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}