.footerimage{
    width: 100%;
    object-fit: cover;
    height: 75%;

}
.footerfirsttext{
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstfootertext{
    color: white;
    font-family: "Roboto";
    font-size: 50px;
}
.footersecontextt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.secondfootertext{
    font-family: "Roboto";
    font-size: 50px;
}
.footersecondcol{
    margin-top: -13.4% !important;
}
.upperfooterContainer{
    padding: 0 !important;
    width: 100% !important;
}
.upperfooterImage{
    padding: 0 !important;
}
@media (min-width: 501px) and (max-width: 900px) {
    .footersecondcol.col-sm-12.col-12 {
      margin-top: -13% !important;
    }
  }
  
  @media (max-width: 500px) {
    .footersecondcol.col-sm-12.col-12 {
      margin-top: -10% !important;
    }
    .footerimage {
      height: auto;
    }
  }
