@media (min-width: 576px) {
    .projectinfoContactForm {
        margin-left: -15px;
        margin-right: -15px;
    }

    .projectinfoContactForm>[class*='col-'] {
        padding-left: 15px;
        padding-right: 15px;
    }
}