#col2000{
    font-family: Inter;
font-size: 24px;
font-weight: 700;
line-height: 38.73px;
color: #0C3F78;
}
#col2001{
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 38.73px;
    color: #0C3F78;
    margin-left: 1.5rem;
}
.learn-moreee123{
    background: #EC981F !important;
  border: none !important;
  color: #130C02 !important;
  font-family: Noto Sans;
font-size: 18px;
font-weight: 600;
line-height: 20px;
letter-spacing: -0.04em;
border-radius: 0 !important;
  }
  .card-width{
    width: 22rem;
    padding: 2rem;
  }
  @media (max-width: 767px) {
    .card-width{
        width: 18rem;
        padding: 1.5rem;
        margin-top: 1.3rem;
      } 
  }
